<section class="search">
    <div class="container">
        <div class="search__box">
            <input 
            [value]='searchString'
            id="search-input" 
            type="text" 
            placeholder="Что хотите посмотреть?"
            (input)="updateValue($event)"
            >
            <button 
            (click)="updateSearch($event)"
            id="search-button">
                <img src="./img/search.svg" alt="Поиск">
                <span>Найти</span>
            </button>
        </div>
    </div>
</section>
