<app-header></app-header>
<main>
  <app-search></app-search>
  <section class="content">
      <div class="container">
          <div class="content__box">
              <div class="content__main">
                  <h2 class="content__main__title">Результаты поиска</h2>
                  <div class="content__cards">
                    <app-card></app-card>
                    <app-card></app-card>
                    <app-card></app-card>
                    <app-card></app-card>
                    <app-card></app-card>
                    <app-card></app-card>
                  </div>
              </div>
                  <app-sidebar></app-sidebar>
          </div>
      </div>
  </section>
</main>